.footer {
    background-color: #e4e0e0;
    font-weight: bold;
    color: #4B644A;
    font-size: 24pt;
    font-family: Roboto;
    margin-top: auto;
    height: 5rem;
    text-align: center;
    padding-top: 1rem;
}