.MuiButton-contained {
    background-color: #388e43;
    font-weight: bold;
    color: #FCFAFA;
}
.card {
    padding-top: 5em;
}

.MuiCardActions-root {
    margin-left: 4px;
}

.MuiTypography-root {
    margin-left: 4px;
}