.nav {
    background-color: #FFFFFF;
    font-weight: bold;
    color: #4B644A;
    font-size: 24pt;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

button :visited {
    color: #4B644A;
}

button :hover {
    color: #0CCA4A;
}

